// Original styles created for app

// color scheme
$base: #4DE7B4;
$accent: #FD3272;
$bgDark: #677077;
$bgLight: #E5E5E5;

//  font

$fontFamily: helvetica;
$fontSize: 12px;
$fontColor: #292b2c;

// flex space around

.flexSA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.font {
    color: $fontColor;
    font-size: $fontSize;
    font-family: $fontFamily;
}

* {
    margin: 0;
    padding: 0;
}

html, body, viewport {
    height: 100%;
}

body {
    @extend .font;
    background: $bgLight;
    display: flex;
    justify-content: center;
    #wrapper {
        width: 300px;
        text-align: center;
    }
    div {
        padding: 1rem;
    }
    button, input {
        padding: 0.25rem;
        margin: 0.25rem;
        line-height: 1.25rem;
        border: none;
        border-radius: 5px;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        // background: $accent;
        color: #fff;
        list-style: none;
        margin-bottom: 1rem;
    }
}

// Custom classes

.completed {
    @extend .flexSA;
    background-color: $base;
    font-style: italic;
    text-decoration: line-through;
    order: 1;
    -webkit-order: 1;
    transition: background-color 0.5s ease;
    p button {
        text-decoration: none;
    }
}

.completed:hover {
    background-color: lighten($base, 20);
    transition: background-color 0.5s ease;
}

.notCompleted {
    @extend .flexSA;
    font-weight: bold;
    background-color: $accent;
    transition: background-color 0.5s ease;
    order: 0;
    -webkit-order: 0;
}

.notCompleted:hover {
    background-color: lighten($accent, 20);
    transition: background-color 0.5s ease;
}

.deleteButton, .editButton {
    padding: 0 0.5rem;
}

button:hover {
    background: $bgDark;
}

.addTodos {
    margin-top: 1rem;
}

.buttons {
    // display: flex;
    // justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
}